<h1>Update your profile</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @user do |f| %>


      <table id="NewUserForm">
        <tr>
          <td>
            <%= f.label :email, "Email: " , class: 'required' %>
            <%= f.email_field :email, id: 'email'%>
          </td>
        </tr>
        <tr>
          <td>
            <%= f.label :password, "Password: ", class: 'required'  %>
            <%= f.password_field :password, id: 'password'%>
          </td>
        </tr>
        <tr>
          <td>
            <%= f.label :password_confirmation, "Confirm Password: ", class: 'required'  %>
            <%= f.password_field :password_confirmation, id: 'password_confirmation' %>
          </td>
        </tr>
      </table>

      <hr style="border: 2px solid black;"/>
      <table id="NewUserForm">
        <tr>
          <td>
            <%= f.label :FirstName, "First Name: ", class: 'required' %>
            <%= f.text_field :FirstName, id: 'FirstName' %>
          </td>
          <td>
            <%= f.label :lastname, "Last Name: ", class: 'required'  %>
            <%= f.text_field :lastname, id: 'lastname' %>
          </td>
        </tr>
        <tr>
          <td>
            <%= f.label :major, "Major:", class: 'required'  %>
            <%= f.text_field :major, id: 'major' %>
          </td>
          <td>
            <%= f.label :classyear, "Class Year: " , class: 'required' %>
            <%= f.date_select :classyear, {start_year: 1876, end_year: Date.today.year + 5, :discard_day => true, :discard_month => true}, id: 'myclassyear' %>
          </td>
        </tr>
        <tr>
          <td>
            <%= f.label :occupation, "Current Occpuation: " %>
            <%= f.text_field :occupation %>
          </td>
        </tr>
        <tr>
          <td>
            <%= f.label :phonenumber, "Phone Number: "%>
            <%= f.text_field :phonenumber %>
          </td>
        </tr>
        <tr>
          <td>
            <%= f.label :city, "City: " %>
            <%= f.text_field :city %>
          </td>
        </tr>
        <tr>
          <td>
            <%= f.label :state, "State/Region: " %>
            <%= f.text_field :state %>
          </td>
        </tr>
        <tr>
          <td>
            <%= f.label :country, "Country: " %>
            <%= f.text_field :country %>
          <td>
        </tr>
      </table>
      <br>
      <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>

  </div>
</div>