<% provide(:title, 'All users') %>
<h1>All users</h1>

<h4>Search Users:</h4>
<%= form_tag(users_path, method: :get) do %>
  <%= text_field_tag(:search, params[:search]) %>
  <%= submit_tag ("Search") %>
<% end %>

<ul class="users">
  <% @users.each do |user| %>
    <li>
      <%= gravatar_for user, size: 50 %>
      <%= link_to user.FirstName + " " + user.lastname, user %>
      <br>
      <a> <%= "Class: " + user.classyear.year.to_s + "  |  Major: " + user.major +
                      "  |  Occupation: " + user.occupation + "  |  Location: " + user.city + ", " + user.state %> </a>
    </li>
  <% end %>
</ul>