<% provide(:title, 'All users') %>
<h1>All users</h1>

<h4>Search Users:</h4>
<%= form_tag(users_path, method: :get) do %>
  <%= text_field_tag(:search, params[:search]) %>
  <%= submit_tag ("Search") %>
<% end %>

<table style="width: 100%; table-layout: fixed">
  <% @users.each_with_index do |user, i| %>
    <% if (i % 2 == 0) %>
      <tr>
        <td>
    <% else %>
        <td>
    <% end %>
          <table style="border: 1px solid black; width: 100%">
            <tr>
              <td rowspan="3"; style="width: 85px">
                <%= gravatar_for user, size: 80 %>
              </td>
              <th>
                <%= link_to user.FirstName + " " + user.lastname + " '" +
                                user.classyear.year.to_s.split(//).last(2).join, user %>
              </th>
            </tr>
            <tr>
              <td>
                <%= "Major: " + user.major +
                    " | Occupation: " + user.occupation %>
              </td>
            </tr>
            <tr>
              <td>
                <%= "Location: " + user.city + ", " + user.state %>
              </td>
            </tr>
          </table>
        </td>
    <% if i % 2 == 1 %>
      </tr>
    <% end %>
  <% end %>
</table>