
%h1 Register New Cadet

= form_for new_user_path do

  = label :user, :email, 'Email: ', :presence => true
  = email_field :user, :email

  = label :user, :password, 'Password: '
  = text_field :user, :password

  = label :user, :passwordConfirm, 'Confirm Password: '
  = text_field :user, :passwordConfirm

  %br
  %br

    %hr{:style => 'border: 2px solid black;'}

  %br
  %br

  = label :user, :firstName, 'First Name: '
  = text_field :user, :firstName

  %br
  %br

  = label :user, :lastName, 'Last Name: '
  = text_field :user, :lastName

  %br
  %br

  = label :user, :major, 'Major'
  = text_field :user, :major

  = label :user, :year, 'Class Year: '
  = date_select :user, :year, :start_year =>1876, :discard_day => true, :discard_month => true

  %br
  %br

  = label :user, :occupation, 'Current Occupation'
  = text_field :user, :occupation

  %br
  %br

  =label :user, :phone, 'Phone Number: '
  = telephone_field :user, :phone

  %br
  %br

  = label :user, :city, 'City: '
  = text_field :user, :city

  %br
  %br

  = label :user, :state, 'State/Region: '
  = text_field :user, :State

  %br
  %br

  = label :user, :country, 'Country: '
  = text_field :user, :country

  %br
  %br

= submit_tag 'Create Account', :class => "btn btn-primary"