
%h1 Create New Movie

= form_tag users_new_path do

  = label :user, :name, 'Name'
  = text_field :user, 'title'

  = label :user, :year, 'Class Year'
  = date_select :user, :year, :start_year =>1876, :discard_day => true, :discard_month => true

  = label :user, :major, 'Major'
  = text_field :user, :major

  = label :user, :occupation, 'Current Occupation'
  = text_field_tag :user, :occupation

= submit_tag 'Save Changes'