<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.FirstName %> <%= @user.lastname %>
      </h1>
    </section>
  </aside>
</div>

 <p>
    <strong>Email Address:</strong>
    <%= @user.email %>
  </p>

  <p>
    <strong>Major:</strong>
    <%= @user.major %>
  </p>
  <p>
    <strong>ClassYear:</strong>
    <%= @user.classyear %>
  </p>
  <p>
    <strong>Occupation:</strong>
    <%= @user.occupation %>
  <p>
    <strong>PhoneNumber:</strong>
    <%= @user.phonenumber %>
  <p>
    <strong>Living City:</strong>
    <%= @user.city %>
  <p>
    <strong>State:</strong>
    <%= @user.state %>
  <p>
    <strong>Country:</strong>
    <%= @user.country %>
  </p>

<%= link_to 'Edit Profile', edit_user_path%>