<h1>Profile</h1>
<%= @user.FirstName %>, <%= @user.lastname %>,
<br>
<%= @user.email %>,
<br>
<%= @user.major %>,
<br>
<%= @user.classyear %>,
<br>
<%= @user.occupation %>,
<br>
<%= @user.phonenumber %>,
<br>
<%= @user.city %>,
<br>
<%= @user.state %>,
<br>
<%= @user.country %>,

