<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.FirstName %> <%= @user.lastname %>
      </h1>
    </section>
  </aside>
</div>
<hr>

<table cellpadding="10">
  <tr>
    <td>
    <strong>Email Address:</strong>
    <%= @user.email %>
    </td>
  </tr>
  <tr>
    <td>
      <strong>PhoneNumber:</strong>
      <%= number_to_phone(@user.phonenumber) %>
    </td>
  </tr>
  <tr>
    <td>
      <strong>Major:</strong>
      <%= @user.major %>
    </td>
    <td>
      <strong>ClassYear:</strong>
      <%= @user.classyear.year.to_s %>
    </td>
  </tr>
  <tr>
    <td>
      <strong>Occupation:</strong>
      <%= @user.occupation %>
    </td>
  </tr>

  <tr>
    <td>
      <strong>Military:</strong>
      <%= @user.military %>
    </td>
  </tr>

  <td>
    <strong>City:</strong>
    <%= @user.city %>
  </td>
  <td>
    <strong>State:</strong>
    <%= @user.state %>
  </td>
  <td>
    <strong>Country:</strong>
    <%= @user.country %>
  </td>
</table>

<div class="button" >
<%= button_to "Edit Profile", edit_user_path, :class => "button", :method => :get %>
</div>
